{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/map.css') }}">
{% endblock %}

{% block body %}
    <div class="map" id="map"></div>
    <div class="content">
        <div class="container container-event-map">
            <a class="accessDashboardButton button" href="{{ path('dashboard') }}">{{ "dashboardAccessButton"|trans }}</a>
            <div class="title">
                {{ "map.title"|trans }}
            </div>
            <div id="events">
                {{ "map.noEvent"|trans }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        var getEventInfosPath = "{{ path('singleEvent',{'id':'id'}) }}";
        var markers = [
            {% for event in events %}
                {% if loop.last %}
                    [{{ event.latitude }},{{ event.longitude }}, "{{ event.title }}", {{ event.id }}]
                {% else %}
                    [{{ event.latitude }},{{ event.longitude }}, "{{ event.title }}", {{ event.id }}],
                {% endif %}
            {% endfor %}
        ];
    </script>

    <script type="text/javascript" src="{{ asset('js/map.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYpkX0pUn5lR8RKW9mbu03Svrn3Mkfrus&callback=initMap" async defer></script>

    <script>

        var container_events = document.getElementById("events");
        var elm_event = '';
        {% for event in events %}
        var date = "{{ event.dateStart|date('d/m/y') }}";
        var hour_start = "{{ event.dateStart|date('h:m') }}";
        var hour_end = "{{ event.dateStart|date('h:m') }}";
        var name = "{{ event.title }}";

        elm_event += '<div class="event">';
        elm_event += '<div class="top">';
        elm_event += '<img src="{{ asset('img/icones/cursor_map.png') }}" alt="">';
        elm_event += date;
        elm_event += '<div class="hour">';
        elm_event += hour_start+" - "+hour_end;
        elm_event += '</div>';
        elm_event += '</div>';
        elm_event += '<div class="bottom">';
        elm_event += '<div class="lieu">';
        elm_event += name;
        elm_event += '</div>';
        elm_event += '<div class="invitation">';
        elm_event += '<a target="_blank" href="{{ path('updateEvent',{'id':event.id}) }}">{{ "map.linkToEvent"|trans }} &#x27A4;</a>';
        elm_event += '</div>';
        elm_event += '</div>';
        elm_event += '</div>';

        {% endfor %}
        container_events.innerHTML  = elm_event;
    </script>
{% endblock %}
