{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/map.css') }}">
{% endblock %}

{% block body %}
    <div class="map" id="map"></div>
    <div class="content">
        <div class="container container-event-map">
            <a class="accessDashboardButton button" href="{{ path('dashboard') }}">{{ "dashboardAccessButton"|trans }}</a>
            <div class="title">
                {{ "map.title"|trans }}
            </div>
            <div id="events">
                {% for event in events %}
                    <div class="event">
                        <div class="top">
                            <img src="{{ asset('img/icones/cursor_map.png') }}" alt="">
                            {{ event.dateStart|date('d/m/y') }}
                            <div class="hour">
                                {{ event.dateStart|date('h:m') }} - {{ event.dateEnd|date('h:m') }}
                            </div>
                        </div>
                        <div class="bottom">
                            <div class="lieu">
                                {{ event.title }}
                            </div>
                            <div class="invitation">
                                <a target="_blank" href="{{ path('updateEvent',{'id':event.id}) }}">{{ "map.linkToEvent"|trans }} &#x27A4;</a>
                            </div>
                        </div>
                    </div>
                {% else %}
                    {{ "map.noEvent"|trans }}
                {% endfor %}
            </div>
        </div>
    </div>

    <div id="eventInfos">
        <span class="button" id="closeEventInfos">{{ "map.close"|trans }}</span>
        <div id="eventInfosContainer">

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        var getEventInfosPath = "{{ path('singleEvent',{'id':'id'}) }}";
        var markers = [
            {% for event in events %}
                {% if loop.last %}
                    [{{ event.latitude }},{{ event.longitude }}, "{{ event.title }}", {{ event.id }}]
                {% else %}
                    [{{ event.latitude }},{{ event.longitude }}, "{{ event.title }}", {{ event.id }}],
                {% endif %}
            {% endfor %}
        ];
    </script>

    <script type="text/javascript" src="{{ asset('js/map.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYpkX0pUn5lR8RKW9mbu03Svrn3Mkfrus&callback=initMap" async defer></script>

{% endblock %}
