{% extends 'dashboard/dashboardBody.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/event.css') }}">
{% endblock %}

{% block dashboardContent %}
    {{ parent() }}
    <div class="eventCategoriesContainer">
        {% for category in categories %}
            <div class="categoryContainer">
                <div>
                    <span>{{ "eventCategory.name"|trans }}:</span> {{ category.name }}
                </div>
                <div>
                    <span>{{ "eventCategory.color"|trans }}:</span> <div style="background: #{{ category.color }};" class="colorSample"></div> <span class="colorSampleValue" style="color:{{ category.color }};" >{{ category.color }}</span>
                </div>
                <div class="actions">
                    <a class="button" href="{{ path('updateEventCategory',{'id':category.id}) }}">{{ "eventCategory.update"|trans }}</a>
                    <a class="button" href="{{ path('deleteEventCategory',{'id':category.id}) }}">{{ "eventCategory.delete"|trans }}</a>
                </div>
            </div>
        {% else %}
            <div>
                {{ "eventCategory.noCategory"|trans }}
            </div>
        {% endfor %}
    </div>

    {{ render(controller('AppBundle:EventCategory:newEventCategory')) }}
{% endblock %}
