{% extends 'dashboard/dashboardBody.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block dashboardContent %}
    {% for category in categories %}
        <div>
            {{ "eventCategory.name"|trans }} : {{ category.name }}
            {{ "eventCategory.color"|trans }} : {{ category.color }}
        </div>
    {% else %}
        <div>
            {{ "eventCategory.noCategory"|trans }}
        </div>
    {% endfor %}

    {{ render(controller('AppBundle:EventCategory:newEventCategory')) }}
{% endblock %}
