{% extends 'dashboard/dashboardBody.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/searchUser.css') }}">
{% endblock %}

{% block dashboardContent %}
    {{ parent() }}

    <h1>
        Ma liste d'amis
    </h1>
    <div id="result-user-research">
        {% for friend in friends %}
            <div class="item-result-research-user">
                <span class="name">
                    {{ friend.username }}
                </span>
                <a class="add-remove-button friendRemove" style="text-decoration: none;color:black" href="{{ path('removeFriend',{'id':friend.id}) }}">{{ "friendList.deleteFriend"|trans }}</a>
            </div>
        {% else %}
            {{ "friendList.noFriends"|trans }}
        {% endfor %}
    </div>
{% endblock %}
