{% for user in users %}
    <div class="item-result-research-user">
        <span class="name">
            {{ user.username }}
        </span>
        <span class="add-remove-button" onclick="addRemoveUser('{{ path("addFriend",{'id':user.id}) }}',{{ user.id }})">
            <img src="{{ asset('img/icones/loading_add_remove_user.gif') }}" class="loading-icon-add-remove icon-add-remove-{{ user.id }}" alt="">
            <span class="text-add-remove text-add-remove-{{ user.id }}">
                Ajouter
            </span>
        </span>
    </div>
{% else %}
    {{ "user.findUser.noUser"|trans }}
{% endfor %}