{% extends 'dashboard/dashboardBody.html.twig' %}

{% block dashboardContent %}
    {{ parent() }}
    <h1>{{ "event.list.title"|trans }}</h1>
    {% for event in events %}
        {% include 'event/singleEvent.html.twig' %}
    {% else %}
        <div>
            <p>{{ "event.list.noEvent"|trans }}</p>
            <a class="button" href="{{ path('new_event') }}">{{ "dashboard.buttons.createEvent"|trans }}</a>
        </div>
    {% endfor %}
{% endblock %}
