<div class="containerEvent" style="border-top:5px solid {{ event.category.color }};">
    <div class="left">
        <h2>{{ event.title }}</h2>
        <div class="categorie" style="color:{{ event.category.color }};">
            {{ event.category.name }}
        </div>
        <div class="infos">
            <h3>{{ "event.list.date"|trans }} :</h3>
            <span style="color:{{ event.category.color }};">{{ "event.list.fromDate"|trans }}:</span>
            {{ event.dateStart|localizeddate('medium','short') }}
            <br/>
            <span style="color:{{ event.category.color }};">{{ "event.list.toDate"|trans }}:</span>
            {{ event.dateEnd|localizeddate('medium','short') }}
        </div>
        <div class="infos">
            <h3>{{ "event.list.address"|trans }}</h3>
            <span>
                <img src="{{ asset('img/icones/cursor_map_eventlist.png') }}" alt="">
            </span>
            {{ event.address }}, {{ event.town }}, {{ event.country }}
        </div>
    </div>
    <div class="right">
        <div class="infos">
            <h3>{{ "event.list.description"|trans }}</h3>
            {{ event.description }}
        </div>
        <div class="infos">
            <h3>{{ "event.list.participant"|trans }}</h3>
            <div class="participantsList">
                {% for user in event.participant %}
                    <img src="{{ asset('img/icones/listevent_user.png') }}" alt="">
                    <span>{{ user.username }}</span>
                    <br/>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="actions">
        <a class="button" style="background-color:{{ event.category.color }};" href="{{ path('updateEvent',{'id':event.id}) }}">{{ "event.list.update"|trans }}</a>
        <a class="button" style="background-color:{{ event.category.color }};" href="{{ path('deleteEvent',{'id':event.id}) }}">{{ "event.list.delete"|trans }}</a>
    </div>
</div>
