{% trans_default_domain 'FOSUserBundle' %}

{% extends 'base.html.twig' %}

{% block body %}
    <!--  APPEL MAP -->
    <div class="map" id="map"></div>
    <script type="text/javascript" src="{{ asset('js/map.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYpkX0pUn5lR8RKW9mbu03Svrn3Mkfrus&callback=initMap"
            async defer></script>
    <!--  FIN APPEL MAP -->

    <div class="content content-accueil">
        <form action="{{ path("fos_user_security_check") }}"  class="container container-form-accueil"method="post">

            {% if error %}
                <div class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}

            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="{{ 'security.login.username'|trans }}"/>

            <input type="password" id="password" name="_password" required="required" placeholder="{{ 'security.login.password'|trans }}"/>

                <br/>
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>

            <br/>
            <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
        </form>

        <button id="registerButton" class="button"><a href="{{ path('fos_user_registration_register') }}">{{ 'security.login.registerButton'|trans }}</a></button>
    </div>


{% endblock %}