{% extends 'base.html.twig' %}

{% block body %}

    <!--  APPEL MAP -->
    <div class="map" id="map"></div>
    <script type="text/javascript" src="{{ asset('js/map.js') }}"></script>
    <script>
        var markers = new Array();
        {% for event in events %}
            markers.push(new Array({{ event.longitude }},{{ event.latitude }}));
        {% endfor %}
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYpkX0pUn5lR8RKW9mbu03Svrn3Mkfrus&callback=initMap"
            async defer></script>
    <!--  FIN APPEL MAP -->



    <div class="content">
        <div class="container container-event-map">
            <div class="title">
                Aujourd'hui
            </div>
            <div class="event">
                <div class="top">
                    <img src="{{ asset('img/icones/cursor_map.png') }}" alt="">
                    22h-23h
                </div>
                <div class="bottom">
                    <div class="lieu">
                        Chez Romain
                    </div>
                    <div class="invitation">
                        <a href="">
                            Inviter de nouvelles personnes &#x27A4;
                        </a>
                    </div>
                </div>
            </div>
            <div class="event">
                <div class="top">
                    <img src="{{ asset('img/icones/cursor_map.png') }}" alt="">
                    22h-23h
                </div>
                <div class="bottom">
                    <div class="lieu">
                        Chez Romain
                    </div>
                    <div class="invitation">
                        <a href="">
                            Inviter de nouvelles personnes &#x27A4;
                        </a>
                    </div>
                </div>
            </div>
            <div class="event">
                <div class="top">
                    <img src="{{ asset('img/icones/cursor_map.png') }}" alt="">
                    22h-23h
                </div>
                <div class="bottom">
                    <div class="lieu">
                        Chez Romain
                    </div>
                    <div class="invitation">
                        <a href="">
                            Inviter de nouvelles personnes &#x27A4;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
