{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/dashboard.css') }}" >
{% endblock %}

{% block body %}
    <div class="part-left-fixed"></div>
    {{ include('dashboard/dashboardHeader.html.twig') }}

    <div class="content-dashboard">
        {{ include('dashboard/dashboardLeft.html.twig') }}

        <div class="part part_right">
            <div id="content-dashboard">
                {% block dashboardContent %}

                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
{% endblock %}
