{% extends 'base.html.twig' %}

{% block body %}
<div class="part-left-fixed"></div>
<div class="header">
    Dashboard
</div>
<div class="content-dashboard">
    <div class="part part_left">
        <div class="item-dashboard active" data-pagename="evenements" data-path="{{ path('dashboardEventTab') }}">
            Mes evenements
        </div>
        <div class="item-dashboard" data-pagename="nouveau" data-path="{{ path('dashboardNewEventTab') }}">
            Creer un evenement
        </div>
        <div class="item-dashboard" data-pagename="category_new" data-path="{{ path('newEventCategoryTab') }}">
            Gerer les categories
        </div>
        <div class="item-dashboard" data-pagename="search_user" data-path="{{ path('findUser') }}">
            Utilisateurs
        </div>
    </div>
    <div class="part part_right">
        <img src="{{ asset('img/icones/loading-ajax.gif') }}" class="loading-icon" alt="">
        <div id="content-dashboard">
            {{ render(controller("AppBundle:Dashboard:eventTab")) }}
        </div>
    </div>
</div>

{% endblock %}


{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/dashboard.js') }}"></script>
{% endblock %}