<div class="part part_left">
    <div class="item-dashboard">
        <a href="{{ path('list_event') }}">{{ "dashboard.buttons.events"|trans }}</a>
    </div>
    <div class="item-dashboard">
        <a href="{{ path('new_event') }}">{{ "dashboard.buttons.createEvent"|trans }}</a>
    </div>
    {% if is_granted('ROLE_ADMIN') %}
        <div class="item-dashboard">
            <a href="{{ path('listEventCategory') }}">{{ "dashboard.buttons.manageCategories"|trans }}</a>
        </div>
    {% endif %}
    <div class="item-dashboard">
        <a href="{{ path('userList') }}">{{ "dashboard.buttons.users"|trans }}</a>
    </div>
    <div class="item-dashboard">
        <a href="{{ path('homepage') }}">{{ "dashboard.buttons.map"|trans }}</a>
    </div>
    <a class="button deconnexion" href="{{ path('fos_user_security_logout') }}">
        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
    </a>
</div>
